<? xml version = "1.0" encoding = "UTF-8"?>
<configuration>
  <system.webServer>
    <Безпека>
      <requestFiltering>
        <fileExtensions allowUnlisted = "true">
          <remove fileExtension = ". mdb" />
          <add fileExtension = ". mdb" allowed = "true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </ system.webServer>
</configuration>