body {
	background-color:FFCCFF;
	width: 1000px;
	height: 20000px;
	border-radius: 5px;
	border-color: blue;
}

p {
	width: 1000px;
	height: 2000px;
}


#modal_form {
	width: 300px; 
	height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border-color: blue;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

h2{
	font-family: 'Merriweather', serif;
	font-size: 40px;
	letter-spacing: 1px;
	max-width: 320px;
	width: 100%;
	position: relative;
	display: inline-block;
	color: #465457;
	padding: 20px 0;
	border-bottom: 2px solid rgba(0,0,0,.05); 
	text-align: center;
	padding-bottom: 10px;
	text-shadow: 1px 1px ,
               -1px 1px #CCCCFF,
               -1px -1px #CCCCFF,
               1px -1px #CCCCFF;
}

h2:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  height: 2px;
  background: #79F8D7;
}

h2:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -15%;
  width: 30%;
  height: 2px;
  background: #79F8D7;
}


h3 {
	position:center;

  display: inline-block;
  position: relative;
  letter-spacing: .05em;
  text-shadow: 1px 1px mediumturquoise,
               -1px 1px mediumturquoise,
               -1px -1px mediumturquoise,
               1px -1px mediumturquoise;
  color: white;
  transition: all 1s;
  }
 h3:before {
    content: "";
    position: absolute;
    top: -10px;
    right: -5px;
    bottom: -15px;
    left: 0;
    z-index: -1;
    background: linear-gradient(-45deg,
    rgba(72, 209, 204, 0) 2px, mediumturquoise 3px, rgba(72, 209, 204, 0) 3px ) repeat;
    background-size: 4px 4px;
    }
 h3:after {
    content: attr(data-name);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -2;
    text-shadow: 1px 1px white,
                 2px 2px white,
                 3px 3px white,
                 4px 4px white;
    color: white;
    transition: all 1s;
    }

  h3:hover {
    color: #CCCC00;
    }
  h3:hover:before {
      animation: 5s move_lines infinite linear;
      }
  h3:hover:after {
      color: #CCCC00;
      text-shadow: 1px 1px #CCCC00,
        2px 2px #CCCC00,
        3px 3px #CCCC00,
        4px 4px #CCCC00;
      }
@keyframes move_lines {
  100% {
    background-position: 40px 40px;
  }
}

form{
  margin:0 auto;
  max-width:95%;
  box-sizing:border-box;
  padding:40px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}
/* Стили полей ввода */
.textbox{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:18px; 
  padding:10px;
  margin-bottom:30px;  
}

.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}
/* Стили текстового поля */

/* Базовые стили кнопки */
.button{
  height:30px;
  width:40%;
  border-radius:1px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#90c843;
  color:#FFF;
  text-align:bold;
  font-family: 'Open Sans', sans-serif;  
  font-weight:100;
  font-size: 7pt;
  margin-right:10px;
  transition:background .4s;
  cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:#80b438;
}











