
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<OneDayFlat.Models.Image>
@{
    ViewData["Title"] = "Добававлення файла";
}
<h3>Виберіть файл для завантаження</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="submit" value="Завантажити" />
</form>

<h3>Всі файли</h3>
@foreach (var f in Model)
{
    <p><img src="@Url.Content(f.Path)"></p>
}